---
import "@fontsource/poppins/100.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title,
  description = "A salon haven for kids, discover the joy of creating smiles.",
  image = "/images/og.jpg",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={image} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen">
    <slot />
    <style is:global>
      html {
        font-family: "Poppins", sans-serif;
        background-color: #26272b;
        overflow-x: hidden;
        scroll-behavior: smooth;
      }

      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      *,
      *::after,
      *::before {
        box-sizing: border-box;
      }

      ::-webkit-scrollbar {
        display: none;
      }
    </style>
  </body>
</html>